<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TarkovInventoryAssistant_Server</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TarkovInventoryAssistant_Server.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <style>
            .headerContainer {
                text-align: center;
            }
            .github-link {
                display: inline-block;
                padding: 10px 15px;
                background-color: #333;
                color: #fff;
                text-decoration: none;
                border-radius: 5px;
                font-family: Arial, sans-serif;
                font-size: 16px;
            }

                .github-link img {
                    background-color: white;
                    padding: 2px;
                    border-radius: 50%;
                }
                .github-link:hover {
                    background-color: #444;
                }
        </style>

        <div class="headerContainer">

            <a class="github-link" href="https://github.com/chriseklopp/TarkovInventoryAssistant">
                <img src=@Url.Content("~/Resources/github-mark.svg") alt="GitHub icon" height="20">
                Project GitHub

            </a>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Game content and materials are trademarks and copyrights of Battlestate Games and its licensors.
            &copy; 2023 - <a href="https://github.com/chriseklopp/TarkovInventoryAssistant">Check out this project on Github</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
