

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #141414;
    color: #ffffff;
}


.titleText {
    font-family: Impact, sans-serif;
}

.infoBox {
    background-color: #241b0a;
    border: 2px solid #8f6d22;
    line-height: 1;
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 20px;
}



.highlight-client-image {
    border: 2px solid red;
}


.image-bar {
    display: flex;
    position: relative;
    border: 2px solid #8f6d22;
}




.image-container {
    overflow-x: auto;
    width: 80%;
    white-space: nowrap;
    direction: rtl;
    background-color: #999393;

}

    .image-container img {
        width: 360px; /* Set a fixed width for each image */
        height: 200px; /* Set a fixed height for each image */
        object-fit: cover; /* Prevent images from being stretched or distorted */
        margin-right: 3px; /* Add margin between each image */
 
    }


.static-image {
    position: absolute;
    right: 0;
    width: 280px; /* Set a fixed width for each image */
    height: 200px; /* Set a fixed height for each image */
    border: 4px solid #8f6d22;
    background-color: #a68f0c;
}


#uploadClientImage {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

#uploadClientImageLabel {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

    #uploadClientImageLabel img {
        display: block;
        width: 100%;
        height: 100%;
    }




.totalValueText {
    font-size: 22px;
}


#resultTable th {
    cursor: pointer;
}